<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.app.terrestrial.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Terrestrial"
        tools:targetApi="tiramisu" >
        <activity android:name="com.app.terrestrial.ui.recommendation.QuestionActivity"
            android:exported="false"/>
        <activity
            android:name="com.app.terrestrial.ui.recommendation.RecommendationResultActivity"
            android:exported="false" />
        <activity
            android:name="com.app.terrestrial.ui.detail.DetailCourseActivity"
            android:exported="false" />
        <activity
            android:name="com.app.terrestrial.ui.main.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.terrestrial.ui.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.app.terrestrial.ui.signup.SignupActivity"
            android:exported="true" />
    </application>

</manifest>